<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a href="/symfony-project/public/" class="navbar-brand">CodeAcademy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-expandable">
            <span class="navbar-toggle-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-expandable">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/symfony-project/public/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/symfony-project/public/articles" class="nav-link">Article List</a>
                </li>
                <li class="nav-item">
                    <a href="/symfony-project/public/cars" class="nav-link">Car List</a>
                </li>
                <li class="nav-item">
                    <a href="/symfony-project/public/people" class="nav-link">People list</a>
                </li>
                 <li class="nav-item">
                    <a href="/symfony-project/public/bass" class="nav-link">Bass list</a>
                </li>
                  <li class="nav-item">
                    <a href="/symfony-project/public/fruit" class="nav-link">Fruit list</a>
                </li>
            </ul>
        </div>
    </div>
</nav>